<html>
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<!-- inject:css --> 
	  	<!-- endinject -->

		<!-- inject:js -->
		<!-- endinject -->
	</head>
	<body>
		<div>sekarang belajar inject file dari gulp ke html</div>
		<div class="jumbotron text-center">
			<h1>About Page</h1>
			<button ng-click="simpan('about')"> Click about</button>
			<button ng-click="simpanAbout('about')"> Click about</button>
		</div>

	<!-- inject:body:js -->
  	<!-- only importantFile.js will be injected here -->
  	<!-- endinject -->
  	</body>
</html>